# Entorno
.env
.env.local

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Node
node_modules/
dist/
.cache/

# Docker volumes locales
postgres_data/
redis_data/

# IDE
.vscode/settings.json
.idea/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
